<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ title_comics }}</title>
</head>
<body>
    <h1>Комиксы</h1>
    <ul>
        <li><h3>Атака на титанов.<br> Книга 1 <a href=""><button> {{ buy }} </button></a></h3>
            <img alt="Здесь должна была быть картинка"
                 height="200"
                 src="https://2.downloader.disk.yandex.ru/preview/38c324094126b583a03670e9dabd1930a82c0b3c46c8acd27e5e1907720e3393/inf/mD0HVq9l2zo9XktHhEPkhR7p8SJLffNYycU5cNK_YhkWNnwtFF6314YvkdgfiEIDYoKOhZCGu-RmHV3pbmg0hQ%3D%3D?uid=544040387&filename=ataka.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=544040387&tknv=v2&size=1898x868"
                 title="Атака на титанов. Книга 1" width="150"></li>
        <li><h3>Невероятные Люди Икс.<br> Том 3. Хороший, Плохой, Нелюдь <a href=""><button> {{ buy }} </button></a></h3>
            <img alt="Здесь должна была быть картинка"
                 height="200"
                 src="https://4.downloader.disk.yandex.ru/preview/da6cd145810a261a4444386e0a2813beb05fb4c2edc7f9ef85e8eb3bd27d5acd/inf/6e2tt_nV6-5JC_74-00CBB7p8SJLffNYycU5cNK_YhlwOwt-CET2gqiPwo8D2ug1jlcaUJfggRohJCHUxG1wiQ%3D%3D?uid=544040387&filename=mv.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=544040387&tknv=v2&size=1898x868"
                 title="Невероятные Люди Икс. Том 3. Хороший, Плохой, Нелюдь" width="150"></li>
        <li><h3>Хранители. Начало: <br>Комедиант. Роршах. Красный Корсар <a href=""><button> {{ buy }} </button></a></h3>
            <img alt="Здесь должна была быть картинка"
                 height="200"
                 src="https://4.downloader.disk.yandex.ru/preview/15a2a2ac54ee61a53a099be88c3d04c6ef6d94aaaa0a66a4e836e98b771d69cf/inf/4vgF78-Vi43zaGYKbjT6OB3h-1-jAbHwqq4QqMhhnf7Wi6VR6helEvdkl5363_v5ITJAM5-NpEMBGtv_98giFg%3D%3D?uid=544040387&filename=dc.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=544040387&tknv=v2&size=1898x868"
                 title="Хранители. Начало: Комедиант. Роршах. Красный Корсар" width="150"></li>
    </ul>
    <p><a href="/platform"><button>{{ back }}</button></a></p>
</body>
</html>