<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ title_comics }}</title>
</head>
<body>
    <h1>Комиксы</h1>
    <ul>
        <li><h3>Атака на титанов. Книга 1 <a href=""><button> {{ buy }} </button></a></h3> </li>
        <li><h3>Невероятные Люди Икс. Том 3. Хороший, Плохой, Нелюдь <a href=""><button> {{ buy }} </button></a></h3> </li>
        <li><h3>Хранители. Начало: Комедиант. Роршах. Красный Корсар <a href=""><button> {{ buy }} </button></a></h3> </li>
    </ul>
    <p><a href="/platform"><button>{{ back }}</button></a></p>
</body>
</html>